{% extends 'base.html' %}

{% load static %}

{% block title %}Sangue{%endblock%}
{% block css %} {% static 'css/sangue/styleSangue.css' %} {%endblock%}
{% block content%} 
<header>
    <!-- <div class="center">  -->

    <!-- </div> -->

</header>

<main class="content">
    <form {% if tipo_sanguineo %} action="{% url 'sangue_detail' %}" {% else %} action="{% url 'sangue' %}" {% endif %} method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box1">
            <div class="options">
                <div class="title">
                    <p class="text">Tipo Sanguíneo</p>
                </div>
                <div class="buttons" id="buttons-1">
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="aPositivo" class="button-type" id="optionA">
                        <label for="optionA"> <span></span> A+</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="aNegativo" class="button-type" id="optionA-">
                        <label for="optionA-"> <span></span> A-</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="bPositivo" class="button-type" id="optionB">
                        <label for="optionB"> <span></span> B+</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="bNegativo" class="button-type" id="optionB-">
                        <label for="optionB-"> <span></span> B-</label>
                    </div> 
                  
                </div>
                <div class="buttons" id="buttons-2">
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="abPositivo" class="button-type" id="optionAB">
                        <label for="optionAB"> <span></span> AB+</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="abNegativo" class="button-type" id="optionAB-">
                        <label for="optionAB-"> <span></span> AB-</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="oPositivo" class="button-type" id="optionO">
                        <label for="optionO"> <span></span> O+</label>
                    </div>
                    <div class="button-option">
                        <input type="radio" name="tipo_sanguineo" value="oNegativo" class="button-type" id="optionO-">
                        <label for="optionO-"> <span></span> O-</label>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="box2">
            <div class="options">
                <div class="title">
                    <p class="text">Você é doador(a) de sangue?</p>
                    <!-- fk -->
                    <input type="hidden" name="fk_usuario_tipo_sanguineo" value="{{dados_user.id_usuario}}">
                </div>
                <div class="box2-content">
                    <div class="image">
                        <img src="{% static 'img/icone_sangue.png'%}" alt="Gota de Sangue" width="200px" height="210px">
                    </div>
                    <div class="doador">
                        <label for="id_doador">Assinale se você for doador(a) de sangue:</label>
                        <input type="checkbox" name="doador" id="id_doador">
                    </div>

                </div>
                
                <button type="submit">Enviar</button>   
                
            </div>
        </div>
    </form>

    <!-- <svg class="waves-component" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20962 10601" transform='rotate(180)'>

        <path class="dark-wave" fill="#068587"
            d="M25681 10400c-171 822-305 1990-646 3115-341 1124-889 2206-1856 2808-968 602-2355 724-4668 1064s-5550 898-8520 987-5672-290-9037-859c-3366-568-7394-1326-9403-2118-2008-791-1996-1616-1892-3305 103-1689 298-4242 1412-5731 1113-1488 3146-1912 4953-1627 1808 284 3390 1276 4522 1878s1814 814 2423 552 1145-998 2333-1388c1187-389 3025-432 4266 275 1240 707 1884 2164 2861 2407 976 244 2285-726 3493-1308 1209-581 2316-775 3731-567 1415 207 3137 815 4290 1221 1153 407 1737 612 1926 953 189 342-18 820-188 1643z" />

        <path class="light-wave" fill="#4FB99F"
            d="M30706 11822c-291 731-653 1801-1548 2972-895 1170-2321 2441-4988 3026-2667 586-6574 485-10469 541s-7778 268-10906-256-5501-1784-6906-3382c-1404-1598-1840-3533-1957-4910-118-1377 82-2195 1029-2854 946-659 2637-1158 4033-1002s2495 968 3440 1630 1737 1175 2905 1086c1169-89 2714-780 3810-1332 1095-552 1740-965 2665-820s2130 848 3110 1360c980 513 1734 837 2458 672s1416-819 2179-1050 1597-40 3058 269c1461 310 3550 739 5069 1177 1519 437 2469 883 2998 1112 529 228 639 240 584 440-55 201-274 591-564 1321z" />
    </svg> -->

</main>




<script src="{% static 'js/sangue.js' %}"></script>

</body>

</html>

{%endblock%}