{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usuario.nome }}</title>
    <link rel="stylesheet" href="../static/css/informacoes.css">
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>
<body>

    <main>

    <div class="perfil">
        {% if usuario.foto %}
            <div class="imagem">
                <img src="/media/{{ usuario.foto }}" alt="">
            </div>
        {% endif %}
            
            <p>Nome: {{ usuario.nome }}</p>
            <p>Data de Nascimento: {{ usuario.nascimento }}</p>
            <p>Gênero: {{ usuario.sexo|title }}</p>
    </div>
    
    <div class="sangue">
        <h1>TIPO SANGUÍNEO</h1>
        {% if sangue %}   
            {% for dado in sangue %}
                <p>Tipo Sanguíneo:
                    {% if dado.tipo_sanguineo == 'aPositivo' %}
                        A+
                    {% endif %}
                    {% if dado.tipo_sanguineo == 'aNegativo' %}
                        A-
                    {% endif %}

                    {% if dado.tipo_sanguineo == 'bPositivo' %}
                        B+
                    {% endif %}
                    {% if dado.tipo_sanguineo == 'bNegativo' %}
                        B-
                    {% endif %}

                    {% if dado.tipo_sanguineo == 'abPositivo' %}
                        AB+
                    {% endif %}
                    {% if dado.tipo_sanguineo == 'abNegativo' %}
                        AB-
                    {% endif %}

                    {% if dado.tipo_sanguineo == 'oPositivo' %}
                        O+
                    {% endif %}
                    {% if dado.tipo_sanguineo == 'oNegativo' %}
                        O-
                    {% endif %}
                </p>

                <p>Doador: 
                    {% if dado.doador %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
                {% if dado.historico_doacoes  %}
                    <p>Histórico de doações: {{ dado.historico_doacoes }}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Não há tipo sanguíneo cadastrado.</p>
        {% endif %}
    </div>



    <div class="historico-familiar">
        <h1>HISTÓRICO FAMILIAR</h1>
        {% if historico_familiar %}
        
        {% for dado in historico_familiar|slice:'0:2' %}
            <p>Doença hereditária: {{ dado.doenca_hereditarias }}</p>
            <p>Grau parentesco:
                {% if dado.grau_parentesco == 'primeiro_grau' %}
                    Segundo Grau
                {% endif %}

                {% if dado.grau_parentesco == 'segundo_grau' %}
                    Segundo Grau
                {% endif %}

                {% if dado.grau_parentesco == 'Terceiro_grau' %}
                    Terceiro Grau
                {% endif %}

                {% if dado.grau_parentesco == 'outros' %}
                    Outros
                {% endif %}
            </p>
            <br>
        {% endfor %}
        {% else %}
            <p>Não há histórico familiar cadastrado.</p>
        {% endif %}
    </div>



    <div class="doencas">
        <h1>DOENÇAS EXISTENTES</h1>
        {% if doencas_existentes %}
            {% for dado in doencas_existentes|slice:'0:3' %}
                <p>Doença: {{ dado.doenca }}</p>
                <p>Ano do diagnóstico: {{ dado.ano_diagnostico }}</p>
                <br>
            {% endfor %}
        {% else %}
            <p>Não há doenças cadastradas.</p>
        {% endif %}
    </div>

    <br>
    <br>
    <br>

    <div class="vacinas">
        <h1>VACINAS</h1>
        {% if vacinas %}
        
            {% for dado in vacinas|slice:'0:3' %}
                <p>Vacina: {{ dado.tipo_vacina }}</p>
                <p>Data da vacinação: {{ dado.data_vacinacao }}</p>
                <p>
                    {% if dado.dose  %}
                        Dose: {{ dado.dose }}
                    {% endif %}
                    {% if dado.lote  %}
                        Lote: {{ dado.lote }}
                    {% endif %}
                </p>
                <br>
            {% endfor %}
        {% else %}
            <p>Não há vacinas cadastradas.</p>
        {% endif %}
    </div>

    <div class="historico-consulta">
        <h1>HISTÓRICO DE CONSULTAS</h1>
        {% if historico_consultas %}
      
        {% for dado in historico_consultas|slice:'0:3' %}
            <p>Lugar: {{ dado.lugar }}</p>
            <p>Data: {{ dado.data }}</p>
            <br>
        {% endfor %}
        {% else %}
            <p>Não há consultas cadastradas.</p>
        {% endif %}
    </div>

    <div class="medicamentos">
        <h1>MEDICAMENTOS</h1>
            {% if medicamentos %}
        
        {% for dado in medicamentos|slice:'0:3' %}
            <p>Nome: {{ dado.nome }}</p>
            {% if dado.funcao  %}
                    <p>Função: {{ dado.funcao }}</p>
            {% endif %}
            <p>
                {% if dado.data_inicio  %}
                    Data de início: {{ dado.data_inicio|date:'d/m/Y' }}
                {% endif %}
                {% if dado.data_final  %}
                    Data final: {{ dado.data_final|date:'d/m/Y' }}
                {% endif %}
            </p>
            {% if dado.infos_extras  %}
                <p>Informações extras: {{ dado.infos_extras }}</p>
            {% endif %}
            <br>
        {% endfor %}
        {% else %}
            <p>Não há medicamentos cadastrados.</p>
        {% endif %}

    </div>


    <br>

    <div class="cirurgia">
        <h1>CIRURGIAS</h1>
        {% if cirurgias %}
        {% for dado in cirurgias|slice:'0:5' %}
            <p>Cirurgia: {{ dado.cirurgia }}</p>
            {% if dado.hospital  %}
                <p>Local: {{ dado.hospital }}</p>
            {% endif %}
            <p>Data: {{ dado.data_cirurgia }}</p>
            {% if dado.infos_extras  %}
                <p>Informações extras: {{ dado.infos_extras }}</p>
            {% endif %}
            <br>
        {% endfor %}
        {% else %}
            <p>Não há cirurgias cadastradas.</p>
        {% endif %}
    </div>

    <br>
    <br>

    <div class="botoes">
        <div class="pdf">
            <!-- href="{% url 'pdf_view' usuario.hash_user %}"  -->
            <a class="btn" onclick="gerarPDF()" target="_blank"> 
                <img src="../static/img/icone_pdf.png" alt="PDF">
            </a> 
            <div >
                <div class="start-btn">
                    <a class="btn" type="" id="mais-informacao" href="#">
                        <img src="../static/img/icone_qrcode.png" alt="qrcode">
                    </a> 
                </div>
            </div>
        </div>
    </div>
    </main>


    <div class="center modal-box">
        <div class="close-modal">
            <button class=" fa-times">X</button>
        </div> 

        <div id="qrcode">
            <img src="/media/{{ usuario.qrcode }}" width="400px" alt="">
        </div>
    </div>
  

    

    <script src="{% static 'js/printPDF.js' %}"></script>
    <script src="{% static 'js/popupPerfil.js' %}"></script>
</body>
</html>