
{% extends 'base.html' %}

{% load static %}
 
{% block title %}Perfil{%endblock%}
{% block css %} {% static 'css/stylePerfil.css' %} {%endblock%}
{% block content%}

<body>
        <header>

            <div class="roof">
                <div class="title-text">
                    <img src="../static/img/MedFile_logo.png" alt="">
                    <span id="begin">Med</span>
                    <span id="end">File</span>
                </div>
                
                
                <div class="container_perfil">
                    <div class="foto_perfil">
                        {% if dados_user.foto %}
                            <img src="/media/{{ dados_user.foto}}" alt="{{ dados_user.nome }}" class="foto_perfil">
                        {% endif %}
                    </div>
                    <div>
                        <br>
                        <h1>{{ dados_user.nome }}</h1>
                    </div>
                </div>
            </div>
            

        </header>

        <form class="content" action="{% url 'perfil' %}" method="post" autocomplete="off"
            enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="register-container">
                
                <div class="register">
                    <input type="hidden" name="id_fk_cadastro_user" value="{{ user.id }}">
                    <input id="edit_information" type="file" name="foto" accept="image/*" value="{{ dados_user.foto }}">
                    <input id="edit_information" name="nome" type="text" placeholder="Nome completo" required
                        value="{{ dados_user.nome }}" />
                    <input id="edit_information" name="usuario" type="text" placeholder="Username" required
                        value="{{ user }}" />
                    <input id="edit_information" name="nascimento" type="date" placeholder="Data nascimento" required
                        value="{{ dados_user.nascimento|date:'Y-m-d' }}" />
                </div>
                <div class="register">
                    <input id="edit_information" name="email" type="email" placeholder="E-mail" required
                        value="{{ dados_user.email }}" />
                    <input id="edit_information" name="telefone" type="tel" placeholder="Telefone" required
                        value="{{ dados_user.telefone }}" />
                    <select id="edit_information" name="sexo" id="id_sexo" required>
                        <option value="feminino" {% if dados_user.sexo == 'feminino' %} selected {% endif %}>Feminino</option>
                        <option value="masculino" {% if dados_user.sexo == 'masculino' %} selected {% endif %}>Masculino</option>
                        <option value="outro" {% if dados_user.sexo == 'outro' %} selected {% endif %}>Outro</option>
                        <option value="sem_resposta" {% if dados_user.sexo == 'sem_resposta' %} selected {% endif %}>Prefiro não
                            responder</option>
                    </select>
                    <div id="buttons">
                        <a class="button" href="" >Visualizar todas as informações </a>
                        
                    </div>
                </div>
            
            </div>
            
            <div id="button-container">
                <button id="button-save" type="submit">Salvar </button>
            </div>
        </form>

        

    </body>
</html>
{%endblock%}