{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicação | MedFile</title>
    <link rel="stylesheet" href="{% static 'css/styleMedicacao.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'img/MedFile_favicon.ico' %}" type="image/x-icon" sizes="32x32"/>
</head>
<body>
    <header>
        <nav class="navbar">

            <ul class="nav-bar">
                <li class="nav-item" id="perfil">
                    <a href="{% url 'perfil' %}" class="nav-link">
                        <img src="{% static 'img/icone_perfil.png' %}" alt="">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-item" id="av_diaria">
                    <a href="{% url 'index' %}" class="nav-link">
                        <img src="{% static 'img/icone_home.png' %}" alt="">
                        <span class="link-text">Avaliação Diária</span>
                    </a>
                </li>

                <li class="nav-item" id="sangue">
                    <a href="{% url 'sangue' %}" class="nav-link">
                        <img src="{% static 'img/icone_sangue.png' %}" alt="">
                        <span class="link-text">Sangue</span>
                    </a>
                </li>

                <li class="nav-item" id="vacina">
                    <a href="{% url 'vacinas' %}" class="nav-link">
                        <img src="{% static 'img/icone_vacinacao.png' %}" alt="">
                        <span class="link-text">Vacinas</span>
                    </a>
                </li>

                <li class="nav-item" id="medicacao">
                    <a href="{% url 'medicacao' %}" class="nav-link">
                        <img src="{% static 'img/icone_medicamentos.png' %}" alt="">
                        <span class="link-text">Medicação</span>
                    </a>
                </li>

                <li class="nav-item" id="historico">
                    <a href="{% url 'historico' %}" class="nav-link">
                        <img src="{% static 'img/icone_historico.png' %}" alt="">
                        <span class="link-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-item" id="cirurgia">
                    <a href="{% url 'cirurgias' %}" class="nav-link">
                        <img src="{% static 'img/icone_cirurgia.png' %}" alt="">
                        <span class="link-text">Cirurgias</span>
                    </a>
                </li>

                <li class="nav-item" id="doenca">
                    <a href="{% url 'doencas-existentes' %}" class="nav-link">
                        <img src="{% static 'img/icone_doencas.png' %}" alt="">
                        <span class="link-text">Doenças</span>
                    </a>
                </li>

                <li class="nav-item" id="ale_into">
                    <a href="{% url 'index_logout' %}" class="nav-link">
                        <img src="{% static 'img/icone_alergias.png' %}" alt="">
                        <span class="link-text">Sair</span>
                    </a>
                </li>

            </ul>

        </nav>
    </header>

    <main>
        <div class="container">
            <div class="title-container">
                <span>Medicação</span>
            </div>

        <section>
                <form action="{% url 'medicacao' %}" method="POST">
                    <div class="primary-card">
                        {% csrf_token %}
                        {{ form }}
                            <!-- form -->
                        <input type="text" name="nome" id="" placeholder="Nome">
                        <input type="text" name="funcao" id="" placeholder="Função">
                        <div class="input-content">
                            <input type="date" name="data_inicio" id="">
                            <input type="date" name="data_final" id="">
                            <input type="text" name="infos_extras" id="">
                            <input type="hidden" name="fk_user_medicacao" value="{{ usuario.id_usuario }}" placeholder="Informações extras">
                        </div>
                        <button type="submit"> Cadastrar</button>
                    </div>
                </form>                
            
            <div class="second-card">
                <h1>Informações</h1>
            </div>
        </section>

        <div class="history-content">
            {% for dado in dados_medicamentos %}
            <div class="card">
                <h2>{{dado.nome}}</h2>
                {% if dado.funcao %}
                    <h3>Função</h3>
                    <span>{{dado.funcao}}</span>
                {% endif %}
                {% if dado.data_inicio %}
                    <h3>Data Inicio</h3>
                    <span>{{dado.data_inicio|date:'d-m-Y'}}</span>
                {% endif %}
                {% if dado.data_final %}
                    <h3>Data Final</h3>
                    <span>{{dado.data_final|date:'d-m-Y'}}</span>
                {% endif %}
                {% if dado.infos_extras %}
                    <h3>Informações Extras</h3>
                    <span>{{dado.infos_extras}}</span>
                {% endif %}
               
            </div>
            {% endfor %}
        </div>
    </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>