{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicação | MedFile</title>
    <link rel="stylesheet" href="{% static 'css/styleMedicacao.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'img/MedFile_favicon.ico' %}" type="image/x-icon" sizes="32x32"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar">

            <ul class="nav-bar">
                <li class="nav-item" id="perfil">
                    <a href="{% url 'perfil' %}" class="nav-link">
                        <img src="{% static 'img/icone_perfil.png' %}" alt="">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-item" id="av_diaria">
                    <a href="{% url 'index' %}" class="nav-link">
                        <img src="{% static 'img/icone_home.png' %}" alt="">
                        <span class="link-text">Avaliação Diária</span>
                    </a>
                </li>

                <li class="nav-item" id="sangue">
                    <a href="{% url 'sangue' %}" class="nav-link">
                        <img src="{% static 'img/icone_sangue.png' %}" alt="">
                        <span class="link-text">Sangue</span>
                    </a>
                </li>

                <li class="nav-item" id="vacina">
                    <a href="{% url 'vacinas' %}" class="nav-link">
                        <img src="{% static 'img/icone_vacinacao.png' %}" alt="">
                        <span class="link-text">Vacinas</span>
                    </a>
                </li>

                <li class="nav-item" id="medicacao">
                    <a href="{% url 'medicacao' %}" class="nav-link">
                        <img src="{% static 'img/icone_medicamentos.png' %}" alt="">
                        <span class="link-text">Medicação</span>
                    </a>
                </li>

                <li class="nav-item" id="historico">
                    <a href="{% url 'historico' %}" class="nav-link">
                        <img src="{% static 'img/icone_historico.png' %}" alt="">
                        <span class="link-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-item" id="cirurgia">
                    <a href="{% url 'cirurgias' %}" class="nav-link">
                        <img src="{% static 'img/icone_cirurgia.png' %}" alt="">
                        <span class="link-text">Cirurgias</span>
                    </a>
                </li>

                <li class="nav-item" id="doenca">
                    <a href="{% url 'doencas-existentes' %}" class="nav-link">
                        <img src="{% static 'img/icone_doencas.png' %}" alt="">
                        <span class="link-text">Doenças</span>
                    </a>
                </li>

                <li class="nav-item" id="ale_into">
                    <a href="{% url 'index_logout' %}" class="nav-link">
                        <img src="{% static 'img/icone_alergias.png' %}" alt="">
                        <span class="link-text">Sair</span>
                    </a>
                </li>

            </ul>

        </nav>
    </header>

    <main>
        <div class="container">
            <div class="title-container">
                <span>Medicação</span>
            </div>

        <section>
                <form action="{% url 'medicacao' %}" method="POST">
                    <div class="primary-card">
                        {% csrf_token %}

                        <input type="text" name="nome" id="" placeholder="Nome do medicamento:">
                        <input type="text" name="funcao" id="" placeholder="Função do medicamento:">
                        <div class="input-content">
                            <input placeholder="Data - início do tratamento:" type="text" onfocus="(this.type='date')" class="register-information"  name="data_inicio">
                            <input placeholder="Data - final do tratamento:" type="text" onfocus="(this.type='date')" class="register-information" name="data_final">
                            <input type="hidden" name="fk_user_medicacao" value="{{ usuario.id_usuario }}">
                        </div>
                        <div >
                            <button type="submit" > Cadastrar</button>
                        </div>
                    </div>
                </form>                
            
        </section>

        <div id="history-content" class="scroll">
            
           
            <div class="history-card">
                {% for dado in dados_medicamentos %}
                <div class="card">
                    
                    <a href="{% url 'medicacao_detail' dado.id_medicamentos %}">
                            <h2>{{ dado.nome }}</h2>
                            {% if dado.funcao %}
                                <h3>Função</h3>
                                <span>{{ dado.funcao }}</span>
                            {% endif %}
                            {% if dado.data_inicio %}
                                <h3>Data Inicio</h3>
                                <span>{{dado.data_inicio|date:'d-m-Y'}}</span>
                            {% endif %}
                            {% if dado.data_final %}
                                <h3>Data Final</h3>
                                <span>{{dado.data_final|date:'d-m-Y'}}</span>
                            {% endif %}
                            {% if dado.infos_extras %}
                                <h3>Informações Extras</h3>
                                <span>{{dado.infos_extras}}</span>
                            {% endif %}
                            <div class="start-btn">
                                <a type="" id="mais-informacao" href="{% url 'medicacao_detail' dado.id_medicamentos %}">+</a>
                            </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
    </main>

    {% if medicacao_detail %}
        <div class="center modal-box">
                <div class="close-modal">
                    <button class=" fa-times">X</button>
                </div>
                <div class="form-edit">
                    <form action="{% url 'medicacao_detail' medicacao_detail.id_medicamentos %}" method='POST' >
                        {% csrf_token %}
                        <input type="text" placeholder="Nome do medicamento:" class="input-edit" name="nome" value="{{ medicacao_detail.nome }}">
                        <input type="text" placeholder="Função do medicamento:"  class="input-edit" name="funcao"  value="{{ medicacao_detail.funcao }}">
                        <div class="input-form">
                            <input placeholder="Data - início do tratamento:" type="text" onfocus="(this.type='date')" class="input-date"  name="data_inicio"  value="{{ medicacao_detail.data_inicio|date:'Y-m-d' }}">
                            <input placeholder="Data - final do tratamento:" type="text" onfocus="(this.type='date')" class="input-date" name="data_final" value="{{ medicacao_detail.data_final|date:'Y-m-d' }}">
                        </div>
                        <input type="hidden" name="fk_user_medicacao" value="{{ usuario.id_usuario }}">
                        <div class="div-buttons">
                            <button type="submit" >Editar</button>
                            <a href="{% url 'medicacao_delete' medicacao_detail.id_medicamentos %}">Excluir</a>
                        </div>
                    </form>
                </div>
        </div>
    {% endif %}

    <script src="{% static 'js/popupMedicacao.js' %}"></script>
</body>
</html>