@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Prompt&family=Rancho&display=swap');
:root {
    --azul-escuro: #112F41;
    --azul-piscina-escuro: #068587;
    --verde-piscina: #4FB99F;
    --salmao: #ED553B;
    --branco: #FCFFF5;
    --gelo: #E6EBE0; 
    --azul-claro: #3DCCC7;
    --azul-bebe: #b0fffc;
}

* { 
    margin: 0;
    box-sizing: border-box;
}
body{ 
    overflow-x: hidden;
    background-color: var(--branco);
}

main{
    display: flex;
}



/* Classes */

.title{
    background-color: #ED553B;
    /* height: 75px; */
    padding: 2%;
    width: 50%;
    border-radius: 0 0 20px 20px;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.title-text{
    color: var(--branco);
    font-size: 35px;
    font-family: "Poppins", sans-serif;

    text-align: center;
    font-weight: 500;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* _____conteudo_box1_____ */
.content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    justify-items: center;
    background-color: #112f41;
    height: 25%;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.checkbox-round, .buttons button{
    width: 50px;
    height: 50px;
    background-color: var(--branco);
    border-radius: 50%;
    vertical-align: middle;
    border: 4px solid var(--verde-piscina);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: var(--salmao);
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
}

.box1-content{
    width: 80%;
}

.labels{
    display: flex;
    justify-content: space-around;
}

.labels label{
    width: 55px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--branco);
}

.notes{
    background-color: #FCFFF5;
    height: 250px;
    width: 20%;
    margin: 15px;
    float: right;
    border-radius: 10px;
}

.notes label{
    color: var(--azul-escuro);
    font-family: "Poppins";
    margin-left: 5px;
    font-size: 2rem;
}

#text-observacao{
    width: 100%;
    height: 80%;
    border: 1px solid var(--branco);
    border-radius: 0 0 10px 10px;
    resize: none;
    background-color: var(--branco);
    color: var(--azul-escuro);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

textarea:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.button-2{
    width: 100%;
}

#button-save{
    float: right;
    border-radius: 20px;
    text-align: center;
    padding: 7px 20px;
    margin: 10px 10px 10px 0px;
    border: none;
    cursor: pointer;
    background-color: var(--branco);
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    color: var(--azul-piscina-escuro);
    outline: none;
}

#button-save:hover{
    background-color: #3dccc77e;
    color: var(--branco);
    outline: none;
}

#txt-outro-sintoma{
    position: absolute;
    right: 0;
    top: 45%;
    background-color: var(--salmao);
    border-radius: 10px;
    outline: none;
    padding: 5px;
}

.adict-sintoma input{
    background-color: var(--branco);
    border: none;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    font-family: "Poppins", sans-serif;
    outline: none;
}

 
input::placeholder{
    color: var(--azul-escuro);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--branco) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--azul-escuro) !important;
    -webkit-text-fill-font: Poppins-Regular !important;
}

/* _______final_conteudo_box1______ */


/* ________inicio_conteudo_box2_______ */
.box2 > .subtitle{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: var(--azul-escuro);
    display: flex;
    justify-content: flex-start;
    width: 70%;

}

.box2-container{
    /* margin-top: 150px; */

    height: 500px;
    width: 70%;
    background-color: #4FB99F;

    border-radius: 20px;

    position: static;
}

.box2-content{
    display: grid;
    width: 100%;
    height: 100%;
}

.box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.week{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days{
    background-color: #FCFFF5;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}

.week label{
    color: var(--azul-escuro);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

#history-content {
    background-color: var(--verde-piscina);
    width: 80%;
    min-height: 30rem;
    height: 150px;

    border: 3px solid var(--verde-piscina);
    border-radius: 20px;

    margin-top: 5rem;
    margin-bottom: 50px;    

    overflow-x: scroll;
    display: inline-flex;
    overflow-y: hidden;
    justify-content: start;
    border-bottom: 2px solid #FCFFF5;
}

#history-content a{
    text-decoration: none;
}
 

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    
    width: 230px;
    border-radius: 10px;

    margin: 10px;
    
    min-width: 200px;
    padding: 5px;
    text-align: center;
    overflow-x: hidden;
}

#card p{
    color: var(--salmao);
    font-weight: 500;
    font-size: 2rem;
}

.visu-obs{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}


#card h3 {
    font-weight: 600;
    color: var(--azul-escuro);
    font-size: 2rem;
}


#card span {
    font-weight: 600;
    color: var(--azul-piscina-escuro);
    font-size: 1.5rem;
}

.scroll{
    overflow-y:  scroll;
}

.scroll::-webkit-scrollbar{
    width: 15px;
    background: #FCFFF5;
    border-radius: 20px;
    
}

.scroll::-webkit-scrollbar-thumb{
    background: var(--azul-escuro);
    border-radius: 20px;
    width: 16px;
}

.scroll-card{
    overflow-y:  scroll;
}

.scroll-card::-webkit-scrollbar{
    width: 15px;
    background: #FCFFF5;
    border-radius: 20px;
    
}

.scroll-card::-webkit-scrollbar-thumb{
    background: var(--salmao);
    border-radius: 20px;
    width: 12px;
}


@media screen and (max-width: 1000px){

    .checkbox-round, .buttons button {
        width: 40px;
        height: 40px;
    }

    .labels label{
        font-size: 1rem;
    }

    .notes{
        height: 170px;
    }
    
    .notes label{
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 700px){

    .title-text{
        font-size: 2.5rem;
    }

    .title{
        width: 70%;
    }
    
    .box1{
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    .notes{
        height: 90px;
        width: 80%;
    }

    .notes{
        text-align: center;
    }

    .checkbox-round, .buttons button {
        width: 30px;
        height: 30px;
    }

    .labels label{
        font-size: 10px;
    }

    .box1-content{
        width: 100%;
        justify-content: space-between;
    }

    #txt-outro-sintoma{
        left: 0;
        top: 50%;
        padding: 5px;
        width: 50%;
        height: 40px;
    }

    .adict-sintoma input{
        width: 100%;
    }

    #history-content {

        width: 70%;

        height: 450px;
    
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    #card {
        min-height: 230px;
        width: 200px;
        overflow-x: hidden;
    }

    
    .scroll{
        overflow-y:  scroll;
    }

    .scroll::-webkit-scrollbar{
        width: 15px;
        background: #FCFFF5;
        border-radius: 20px;
        
    }

    .scroll::-webkit-scrollbar-thumb{
        background: var(--azul-escuro);
        border-radius: 20px;
        width: 16px;
    }


}