@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Prompt&family=Rancho&display=swap');

* { 
    margin: 0;
    box-sizing: border-box;
}
body{ 
    overflow-x: hidden;
}

main{
    display: flex; 
}

:root {
    --azul-escuro: #112F41;
    --azul-piscina-escuro: #068587;
    --verde-piscina: #4FB99F;
    --salmao: #ED553B;
    --branco: #FCFFF5;
    --gelo: #E6EBE0;
    --azul-claro: #3DCCC7;
    --azul-bebe: #b0fffc;
}

/* Classes */

.title{
    background-color: #ED553B;
    height: 75px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0 0 20px 20px;
    align-items: center;
}

.title-text{
    color: var(--branco);
    font-size: 35px;
    font-family: "Poppins", sans-serif;

    text-align: center;
    padding: 7px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* _____conteudo_box1_____ */
.content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    justify-items: center;
    background-color: #112f41;
    height: 25%;
    width: 70%;
    border-radius: 20px;
    /* margin: 20%; */
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.checkbox-round, .buttons button {
    width: 50px;
    height: 50px;
    background-color: var(--branco);
    border-radius: 50%;
    vertical-align: middle;
    border: 4px solid var(--verde-piscina);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: var(--salmao);
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
}

.box1-content{
    width: 80%;
}

.labels{
    display: flex;
    justify-content: space-around;
}

.labels label{
    width: 55px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--branco);
}

.notes{
    background-color: #FCFFF5;
    height: 250px;
    width: 20%;
    margin: 15px;
    margin-top: 25px;
    float: right;
    border-radius: 10px;
}

.notes label{
    color: var(--azul-escuro);
    font-family: "Poppins";
    margin-left: 5px;
    font-size: 2rem;
}

#text-observacao{
    width: 100%;
    height: 222px;
    border: 1px solid var(--branco);
    border-radius: 0 0 10px 10px;
    resize: none;
    background-color: var(--branco);
    color: var(--azul-escuro);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

textarea:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.button-2{
    width: 100%;
}

#button-save{
    float: right;
    border-radius: 20px;
    text-align: center;
    padding: 7px 20px;
    margin: 10px 10px 10px 0px;
    border: none;
    cursor: pointer;
    background-color: var(--branco);
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    color: var(--azul-piscina-escuro);
    outline: none;
}

#button-save:hover{
    background-color: #3dccc77e;
    color: var(--branco);
    outline: none;
}

#txt-outro-sintoma{
    position: absolute;
    right: 0;
    top: 45%;
    padding: 15px;
    background-color: var(--salmao);
    border: 2px solid var(--salmao);
    border-radius: 10px;
    outline: none;
}

.adict-sintoma input{
    background-color: var(--branco);
    border: none;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    font-family: "Poppins", sans-serif;
    outline: none;
}

/* .adict-sintoma button{
    background-color: var(--azul-piscina-escuro);;
    color: var(--branco);
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
} */

input::placeholder{
    color: var(--azul-escuro);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--branco) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--azul-escuro) !important;
    -webkit-text-fill-font: Poppins-Regular !important;
}

/* _______final_conteudo_box1______ */


/* ________inicio_conteudo_box2_______ */
.box2 > .subtitle{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: var(--azul-escuro);
    display: flex;
    justify-content: flex-start;
    width: 70%;

}

.box2-container{
    /* margin-top: 150px; */

    height: 500px;
    width: 70%;
    background-color: #4FB99F;

    border-radius: 20px;

    position: static;
}

.box2-content{
    display: grid;
    width: 100%;
    height: 100%;
}

.box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.box2-first-subtitle{
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 30px;
    align-items: center;
}

.box2-second-subtitle{
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 1;
    align-items: center;
}
.text3{
    background-color: var(--salmao);
    color: var(--azul-escuro);
    border-radius: 10px 0 0 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 2rem;
    width: 20%;
    padding: 5px 8px;

}

/* #text-passada{
    margin-top: 60%;
}  */

.semana-atual, .semana-passada{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.week{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days{
    background-color: #FCFFF5;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}

.week label{
    color: var(--azul-escuro);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

/* Fim IDs */