{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico | MedFile</title>
    <link rel="stylesheet" href="{% static 'css/historico/historico.css' %}">
</head>

<body>

    <header>
        <nav class="navbar">

            <ul class="nav-bar">
                <li class="nav-item" id="perfil">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_perfil.png' %}" alt="">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-item" id="av_diaria">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_home.png' %}" alt="">
                        <span class="link-text">Avaliação Diária</span>
                    </a>
                </li>

                <li class="nav-item" id="sangue">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_sangue.png' %}" alt="">
                        <span class="link-text">Sangue</span>
                    </a>
                </li>

                <li class="nav-item" id="vacina">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_vacinacao.png' %" alt="">
                        <span class="link-text">Vacinas</span>
                    </a>
                </li>

                <li class="nav-item" id="ale_into">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_alergias.png' %}" alt="">
                        <span class="link-text">Alergias/Intolerâncias</span>
                    </a>
                </li>

                <li class="nav-item" id="medicacao">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_medicamentos.png' %}" alt="">
                        <span class="link-text">Medicação</span>
                    </a>
                </li>

                <li class="nav-item" id="historico">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_historico.png' %}" alt="">
                        <span class="link-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-item" id="cirurgia">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_cirurgia.png' %}" alt="">
                        <span class="link-text">Cirurgias</span>
                    </a>
                </li>

                <li class="nav-item" id="doenca">
                    <a href="" class="nav-link">
                        <img src="{% static 'img/icone_doencas.png' %}" alt="">
                        <span class="link-text">Doenças</span>
                    </a>
                </li>

            </ul>

        </nav>
    </header>

    <main>
        <div class="container">
            <div class="title-container">
                <span>Histórico</span>
            </div>

            <section>

                <div class="subtitle-container">
                    <h2>Histórico de Consultas</h2>
                </div>

                <div class="primary-card">

                    <input type="text" name="" id="" placeholder="Local">
                    <input type="date" name="" id="" placeholder="Data">


                    <div class="input-content">
                        <div class="first-file">
                            <label for='selecao-arquivo-receita'>Adicionar Receita</label>
                            <input id='selecao-arquivo-receita' type='file'>
                            <p id="file-name"></p>
                        </div>
                        <div class="second-file">
                            <label for='selecao-arquivo-atestado'>Adicionar Atestado</label>
                            <input id='selecao-arquivo-atestado' type='file'>
                            <p id="file-name2"></p>
                        </div>

                    </div>
                    <button>Cadastrar</button>
                </div>
                <div class="second-card">
                    <h1>Informações</h1>
                </div>
            </section>

            <div class="history-content">
                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>

                <div class="card">
                    <h2>Roacutan</h2>
                    <h3>Data</h3>
                    <span>00/00/00</span>
                    <h3>Horário</h3>
                    <span>00:00</span>
                    <h3>Função</h3>
                    <span>Tratamento de acnes</span>
                </div>
            </div>

            <div class="third-card">

            </div>
        </div>
    </main>
    <script src="{% static 'js/historico.js' %}"></script>
</body>

</html>