{% extends 'base.html' %}

{% load static %}
 
{% block title %}Histórico{%endblock%}
{% block css %} {% static 'css/historico/historico.css' %} {%endblock%}
{% block content%}

<html>

<body>
    <main>

        <div class="container">
            <div class="title-container">
                <span> Histórico </span>
            </div>

            <section>

                <div class="subtitle-container">
                    <h2>Histórico de Consultas</h2>
                </div>

                <div class="primary-card">
                    <form {% if historico_consultas_detail %} action="{% url 'historico_consultas_detail' historico_consultas_detail.id_historico_consultas %}" {% else %} action="{% url 'historico' %}" {% endif %} method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="lugar" id="" placeholder="Local:" value="{% if historico_consultas_detail %} {{ historico_consultas_detail.lugar }} {% endif %}" required>
                        <input placeholder="Dia da consulta:" type="text" onfocus="(this.type='date')" name= "data" value="{% if historico_consultas_detail %}{{ historico_consultas_detail.data|date:'Y-m-d' }}{% endif %}" required>
                        <!-- fk -->
                        <input type="hidden" name="fk_usuario_historico_consulta" value="{{dados_user.id_usuario}}">

                        <div class="input-content">
                            <div class="first-file">
                                <label for='selecao-arquivo-receita'>Adicionar Receita</label>
                                <input id='selecao-arquivo-receita' type='file' name="receita" value="{% if historico_consultas_detail %}{{ historico_consultas_detail.receita }}{% endif %}">
                                <p id="file-name"></p>
                            </div>
                            <div class="second-file">
                                <label for='selecao-arquivo-atestado'>Adicionar Atestado</label>
                                <input id='selecao-arquivo-atestado' type='file' name="atestado"  value="{% if historico_consultas_detail %}{{ historico_consultas_detail.atestado }}{% endif %}">
                                <p id="file-name2"></p>
                            </div>
                        </div>
                        {% if historico_consultas_detail %}
                            <button type="submit">Editar</button>
                            <a href="{% url 'historico_consultas_delete' historico_consultas_detail.id_historico_consultas %}">Excluir</a>
                        {% else %}
                            <button type="submit"> Cadastrar</button>
                        {% endif %}
                    </form>
                </div>
            </section>

            <div id="history-content" class="scroll">
                {% for dado in dados_historico %}
                    <a href="{% url 'historico_consultas_detail' dado.id_historico_consultas %}">
                        <div class="card">
                            <div class="start-btn">
                                <a type="" id="mais-informacao" href="#">+</a>
                            </div>
                            <h3>Local</h3>
                            <h2>{{ dado.lugar }}</h2>
                            <h3>Data</h3>
                            <h2>{{ dado.data }}</h2>
                            <h3>Receitas</h3>
                            <span>{{ dado.receita }}</span>
                            <h3>Atestados</h3>
                            <span>{{ dado.atestado }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="third-card">
                <div class="subtitle-container-2">
                    <h2>Doenças Hereditárias</h2>
                </div>
                
                <div class="box-total">
    
                    <div class="third-card-box1">
    
                        <div class="first-background">
                            <h2>Você possui alguma doença crônica na família?</h2>
                        </div>
                    
                        <div class="question">
    
                            <div class="question-content">
                                <input type="radio" value="yes" name="doenca-familia" id="option-yes">
                                <label for="option-yes">Sim</label>
    
                                <input type="radio" value="no" name="doenca-familia" id="option-no">
                                <label for="option-no">Não</label>
                            </div>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Histórico Familiar -->
        
        <div class="roof" >
        
            <div class="title">
                 <h1>Histórico Familiar</h1>
             </div>  
            
         </div>

        <div class="center-history-family"> 
            <div class="left">
                <div class="register">
                    <form {% if historico_familiar_detail %} action="{% url 'historico_familiar_detail' historico_familiar_detail.id_historico_familiar %}" {% else %} action="{% url 'historico-familiar' %}" {% endif %} method="POST">
                        {% csrf_token %}

                        <input id="edit_information" type="text" required placeholder="Nome da doença:" name="doenca_hereditarias" value="{% if historico_familiar_detail %} {{ historico_familiar_detail.doenca_hereditarias }} {% endif %}">
                        <select name="grau_parentesco" aria-placeholder="Grau de parentesco">
                            <option selected disabled value=""> Grau de parentesco</option>
                            <option value="primeiro_grau" {% if historico_familiar_detail.grau_parentesco ==  'primeiro_grau' %} selected {% endif %}>Primeiro Grau</option>
                            <option value="segundo_grau" {% if historico_familiar_detail.grau_parentesco ==  'segundo_grau' %} selected {% endif %}>Segundo Grau</option>
                            <option value="Terceiro_grau" {% if historico_familiar_detail.grau_parentesco ==  'Terceiro_grau' %} selected {% endif %}>Terceiro Grau</option>
                            <option value="outros" {% if historico_familiar_detail.grau_parentesco ==  'outros' %} selected {% endif %}>Outros</option>
                        </select>

                        <!-- fk -->
                        <input type="hidden" name="fk_usuario_historico_familiar" value="{{ dados_user.id_usuario }}">

                        {% if historico_familiar_detail %}
                            <button type="submit">Editar</button>
                            <a href="{% url 'historico_familiar_delete' historico_familiar_detail.id_historico_familiar %}">Excluir</a>
                        {% else %}
                        <br>
                            <button type="submit" id="button-left"> Cadastrar</button>
                        {% endif %}

                        

                    </form>
                </div>
                <br>
                <img src="../static/img/ilustracao.png" alt="">
            </div>

            <div class="left" >
                <div id="container-doecas" class="scroll">
                    <div class="information-doencas">

                        {% for dado in dados_familiar %}
                            <a href="{% url 'historico_familiar_detail' dado.id_historico_familiar %}">
                                <div id="doencas-card">
                                    <p class="titulo-doenca">{{ dado.doenca_hereditarias }}</p>
                                    <p class="grau-doenca">{{ dado.grau_parentesco }}</p>
                                    
                                </div>
                                <div class="start-btn-family">
                                    <a type="" id="mais-informacao" href="#">+</a>
                                </div>
                                
                                
                            </a>
                        {% endfor %}

                    </div>  
                </div>
            </div>
        </div>
    </main>

    <!-- POPUP PRIMARY-CARD (HISTÓRICO) -->

    <div class="center modal-box">
        <div class="close-modal">
            <button id='button_close' class="fa-times">X</button>
        </div>
        <div class="form-edit">
            <form action="" method=''>
                    
                
                <input type="text" name="lugar" id="" placeholder="Local:" value="" >
                <input placeholder="Dia da consulta:" type="text" onfocus="(this.type='date')" name= "data" value="" >
                

                <div class="input-content">
                    <div class="first-file">
                        <label for='selecao-arquivo-receita'>Adicionar Receita</label>
                        <input id='selecao-arquivo-receita' type='file' name="receita" value="">
                        <p id="file-name"></p>
                    </div>
                    <div class="second-file">
                        <label for='selecao-arquivo-atestado'>Adicionar Atestado</label>
                        <input id='selecao-arquivo-atestado' type='file' name="atestado"  value="">
                        <p id="file-name2"></p>
                    </div>
                </div>


                <div class="div-buttons">
                    <button type="submit">Editar</button>
                    <a href="#">Excluir</a>
                </div>
            </form>
        </div>
    </div>

    <!-- POPUP REGISTER (HISTÓRICO-FAMILIAR) -->

    <div class="center-family modal-box-family">
        <div class="close-modal-family">
            <button id='button_close' class="fa-times-family">X</button>
        </div>
        <div class="form-edit">
            
                <form  action="" action=""  method="">
                    

                    <input id="edit_information" type="text" required placeholder="Nome da doença:" name="doenca_hereditarias" value="">
                    <select name="grau_parentesco" aria-placeholder="Grau de parentesco">
                        <option selected disabled value=""> Grau de parentesco</option>
                        <option value="primeiro_grau" >Primeiro Grau</option>
                        <option value="segundo_grau" >Segundo Grau</option>
                        <option value="Terceiro_grau" >Terceiro Grau</option>
                        <option value="outros" >Outros</option>
                    </select>

                    <div class="div-buttons-family">
                        <button type="submit">Editar</button>
                        <a href="#">Excluir</a>
                    </div>

                    
                    

                </form>
            
        </div>
    </div>
    
    <script src="{% static 'js/historico.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <script src="{% static 'js/popupHistorico.js' %}"></script>
    <script src="{% static 'js/popupFamiliar.js' %}"></script>
</body>
</html>

{% endblock %}