{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doenças Existentes | MedFile</title>
    <link rel="stylesheet" href="{% static 'css/doencas-existentes.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'img/MedFile_favicon.ico' %}" type="image/x-icon" sizes="32x32"/>
</head>

<body>
    <header>
        <nav class="navbar">

            <ul class="nav-bar">
                <li class="nav-item" id="perfil">
                    <a href="{% url 'perfil' %}" class="nav-link">
                        <img src="{% static 'img/icone_perfil.png' %}" alt="">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-item" id="av_diaria">
                    <a href="{% url 'index' %}" class="nav-link">
                        <img src="{% static 'img/icone_home.png' %}" alt="">
                        <span class="link-text">Avaliação Diária</span>
                    </a>
                </li>

                <li class="nav-item" id="sangue">
                    <a href="{% url 'sangue' %}" class="nav-link">
                        <img src="{% static 'img/icone_sangue.png' %}" alt="">
                        <span class="link-text">Sangue</span>
                    </a>
                </li>

                <li class="nav-item" id="vacina">
                    <a href="{% url 'vacinas' %}" class="nav-link">
                        <img src="{% static 'img/icone_vacinacao.png' %}" alt="">
                        <span class="link-text">Vacinas</span>
                    </a>
                </li>

                <li class="nav-item" id="medicacao">
                    <a href="{% url 'medicacao' %}" class="nav-link">
                        <img src="{% static 'img/icone_medicamentos.png' %}" alt="">
                        <span class="link-text">Medicação</span>
                    </a>
                </li>

                <li class="nav-item" id="historico">
                    <a href="{% url 'historico' %}" class="nav-link">
                        <img src="{% static 'img/icone_historico.png' %}" alt="">
                        <span class="link-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-item" id="cirurgia">
                    <a href="{% url 'cirurgias' %}" class="nav-link">
                        <img src="{% static 'img/icone_cirurgia.png' %}" alt="">
                        <span class="link-text">Cirurgias</span>
                    </a>
                </li>

                <li class="nav-item" id="doenca">
                    <a href="{% url 'doencas-existentes' %}" class="nav-link">
                        <img src="{% static 'img/icone_doencas.png' %}" alt="">
                        <span class="link-text">Doenças</span>
                    </a>
                </li>

                <li class="nav-item" id="ale_into">
                    <a href="{% url 'index_logout' %}" class="nav-link">
                        <img src="{% static 'img/icone_alergias.png' %}" alt="">
                        <span class="link-text">Sair</span>
                    </a>
                </li>

            </ul>

        </nav>
    </header>
    <main class="main">
        <div class="container">
            <div class="title-container">
                <span>Doenças Existentes</span>
            </div>

            <section>
                <form {% if doenca_detail %} action="{% url 'doencas_existentes_detail' doenca_detail.id_doencas_existentes %}" {% else %} action="{% url 'doencas-existentes' %}" {% endif %} method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="primary-card">
                        <input type="text" name="doenca" id="" placeholder="Nome da doença:" required value="{% if doenca_detail %} {{ doenca_detail.doenca }} {% endif %}">
                        
                            <input type="text" onfocus="(this.type='date')" placeholder="Data do diagnóstico:" name="ano_diagnostico" required value="{% if doenca_detail %}{{ doenca_detail.ano_diagnostico|date:'Y-m-d' }}{% endif %}">
                            <input type="hidden" name="fk_usuario_doencas_existentes" value="{{ usuario.id_usuario }}">
                        
                        {% if doenca_detail %}
                            <button type="submit">Editar</button>
                            <a href="{% url 'doencas_existentes_delete' doenca_detail.id_doencas_existentes %}">Excluir</a>
                        {% else %}
                            <button type="submit"> Cadastrar</button>
                        {% endif %}
                    </div>
                </form>

            </section>

            <div id="history-content" class="scroll">
                
                    <a href="">
                        <div class="card">
                            
                            <h3>Nome</h3>
                            <h2>Diabetes</h2>
                            <h3>Data</h3>
                            <h2>00/00/0000</h2>
                            <div class="start-btn">
                                <a type="" id="mais-informacao" href="#">+</a>
                            </div>
                            
                        </div>
                    </a>
                
            </div>
            <br>
            <br>


        </div>
    </main>

    <div class="center modal-box">
        <div class="close-modal">
            <button id='button_close' class="fa-times">X</button>
        </div>
        <div class="form-edit">
            <form action="" method=''>
                
                    <input type="text" placeholder="Nome da doença:" class="input-edit" name="tipo_vacina"
                        value="">
                    <input placeholder="Data do diagnóstico:" type="text" onfocus="(this.type='date')" class="input-date"
                        name="" value="">
                    
                    <div class="div-buttons">
                        <button type="submit">Editar</button>
                        <a href="">Excluir</a>
                    </div>
                </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/popupDoenca.js' %}"></script>
</body>

</html>