{% extends 'base.html' %}

{% load static %}
 
{% block title %}Doenças Existentes{%endblock%}
{% block css %} {​​​​​​​​% static 'css/doencas-existentes.css' %}​​​​​​​​ {% endblock %}
{% block content%}

    <main>
        <div class="container">
            <div class="title-container">
                <span>Doenças Existentes</span>
            </div>

        <section>
            <div class="primary-card">
                <input type="text" name="" id="" placeholder="Nome:" required>
                <input type="text" name="" id="" placeholder="Onde:" required>
                <div class="input-content">
                    <input type="date" name="" id="" required>
                    <input type="time" name="" id="" placeholder="Horário">
                </div>
                <button type="submit">Cadastrar</button>
            </div>
            
            <div class="second-card">
                <h1>Sobre:</h1>
            </div>
        </section>

    </div>
    </main>
</body>
</html>

{% endblock %}