/* Cores
#FCFFF5 branco falso
#E6EBE0 gelo
#ED553B salmao
#4FB99F verde piscina
#068587 verde piscina escuro
#3DCCC7 azul claro 
#112F41 azul escuro*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif; 
    outline: none;    
}

:root {
    --azul-escuro: #112F41;
    --azul-piscina-escuro: #068587;
    --verde-piscina: #4FB99F;
    --salmao: #ED553B;
    --branco: #FCFFF5;
}

/* Classes */
body{
    background-color: #FCFFF5;
}

.roof{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 0 0 5px 5px;
    height: 100px;
    
}

.title{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ED553B;
    height: 100px;
    width: 40%;
    align-self: flex-end;
    border-radius: 0 0 20px 20px ;
}

h1{

    font-family: "Poppins", sans-serif;
    color: #FCFFF5;
    font-weight: 600;
    font-size: 3.5rem;
}

.content{

    display: flex;
    flex-direction: column;
}

.center-vaccines{
    
    /* margin-top: 10px !important; */
   
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 30px;
    align-items: center;
    height: 100%;
   
}

.conteudo-information{

    text-align: justify;
    font-size: 15px;
    color: #112F41;
    font-weight: normal;
}

.data-vacinnes{

    text-align: center;
    font-size: 15px;
    color: #068587;
    font-weight: normal;

}

h2{

    color: #112F41;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}




form > p{
    color: #112F41;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    
}
.register{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #4FB99F;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

form{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-information{

    color: #112F41;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px 10px;
    font-size: 20px;
    
}

.register-information{

    border-radius: 20px; 
    border: 1px solid #4FB99F;
    padding: 2%;
    margin: 2%; 
    align-items: center;
    width: 70%;
    color: gray;
    appearance: none;
    background-color: #FCFFF5;


}
section{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
/* Fim Classes */


/* Específicos */


.scroll{

    overflow-y:  scroll;
    
}

.scroll::-webkit-scrollbar{

    width: 18px;
    background: #FCFFF5;
    border-radius: 20px;
    
}

.scroll::-webkit-scrollbar-thumb{
    background: #ED553B;
    border-radius: 20px;
    width: 16px;
}

/* Fim específicos */


/* IDs */

#scroll-vaccines{

    background-color: #4FB99F;
    height: 560px;
    width: 40%;
    border-radius: 20px;
    border-right: 2px solid white;
    margin: 5%;
    border-top: 2px solid #4FB99F;
    border-bottom: 2px solid #4FB99F;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

#vaccines{
    position: relative;
    background-color: #FCFFF5;
    margin: 15px;
    height: 20%;
    width: 80%;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    border: 0px;
}

#vaccines > a{

    text-decoration: none;

}

#information{
    background-color: #FCFFF5;
    color: #112F41;
    border-radius: 15px;
    border: 2px solid #4FB99F;
    height: 30%;
    overflow-y: scroll;
}



#button-left{

    color: #FCFFF5;
    background-color: #068587;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    border: #068587;
    height: 40px;
    width: 30%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  
}

#div-button{

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

#button-left:hover{

    background-color: #FCFFF5;
    border-radius: 20px;
    border: 2px solid #068587;
    color: #068587;
    
}

#register-information-local{

    border-radius: 20px; 
    border: 1px solid #4FB99F;
    padding: 2%;
    margin: 2%;
    width: 70%;
    color: gray;
    background-color: #FCFFF5;
}

#historico img , #cirurgia img {

    width: 40px;
    height: 40px;
}

/* Fim IDs */


/* MENU */

.navbar {
    margin: 5rem 0;
    width: 50px;
    height: 75%;
    position: fixed;
    background-color: var(--azul-escuro);
    transition: 0.3s ease;
    border-radius: 0 20px 20px 0;
    z-index: 100;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}

.nav-link {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    color: var(--branco);
    text-decoration: none;
    white-space: nowrap;
    filter: grayscale(100%) opacity(0.7);
    transition: 0.5s;
    padding-left: 8%;
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 15px;
    padding: 12px 0;
}

.nav-link img {
    width: 35px;
    height: 35px;
}

.navbar:hover {
    width: 20rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-link:hover {
    filter: grayscale(0) opacity(1);
    background: #53b6a138;
    color: var(--salmao);
    border-radius: 0 20px 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#historico img,
#cirurgia img {
    width: 40px;
    height: 40px;
}

/* FIM MENU */

/* POPUP */

#mais-informacao{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: var(--branco);
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

    padding: 1rem;

    background-color: var(--salmao);

    border-radius: 100%;
    border: 3px solid var(--salmao);
    text-decoration: none;
}

#mais-informacao:hover{

    cursor: pointer;
    color: var(--salmao);
    background: var(--branco);
}

.start-btn{
    
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -35px;
    position: absolute;
    margin-left: 8px;
}

.close-modal{

    margin-top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    
}
.close-modal > button{

    border: none;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
}
.modal-box{
 
    top: 50%;
    opacity: 0;
    visibility: hidden;
    background: #FCFFF5;
    height: 500px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    z-index: 5;
}
.start-btn.show-modal{
  opacity: 0;
  visibility: hidden;
}
.modal-box.show-modal{
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition: .4s; 
}

.fa-times{
    text-align: center;
    position: absolute;
    background: #ED553B;
    height: 52px;
    width: 52px;
    color: #FCFFF5;
    font-size: 18px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    margin-top: -10px;
    
}
.fa-times:hover{
  font-size: 22px;
}

.fa-times::before{

    display: none;
}

.form-edit{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 70%;
    color: var(--verde-piscina);
}

.form-edit form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-piscina);
    border-radius: 20px;
    width: 90%;
    height: 700px;
    color: var(--verde-piscina);
}

.input-edit{

    width: 95%;
    padding: 1.2rem;
    margin: .5rem 0;
    border-radius: 20px;
    color: var(--verde-piscina);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    
}

.input-form{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    color: var(--verde-piscina);
}
.input-date{

    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 1.2rem;
    margin: .5rem 0;
    border-radius: 20px;
    border: none;
    color: var(--verde-piscina);
    
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.input-form::placeholder{

    color: var(--verde-piscina);
}

.div-buttons{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}
.div-buttons button{

    background-color: var(--azul-escuro);
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 20px;
    color: var(--branco);
    border: 2px solid var(--azul-escuro);
}

.div-buttons button:hover{

    background-color: var(--branco);
    color: var(--azul-escuro);
}

.div-buttons a{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    height: 50px;
    width: 180px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 20px;
    color: var(--branco);
    border: 2px solid var(--azul-escuro);
}

.div-buttons a:hover{

    background-color: var(--branco);
    color: var(--azul-escuro);
}

/* FIM POPUP */

/* ---------------------------------------------------------- */

/*  ______________________RESPONSIVIDADE_____________________________  */



@media (max-width: 700px){

    .center-vaccines{

        flex-direction: column-reverse;
        align-items: center;
    }

    .right{
        
        width: 90%;
        height: 400px;
       
        
    }
    .register{

        flex-direction: column;
        overflow-x: hidden;
        height: 100%;
        
    }

    .cadastro{
        
        flex-direction: column;
        
        
    }
    .register-information{

        width: 80%;
    }
    #register-information-local{

        width: 80%;
    }
    .content{

        overflow-x: hidden;
    }
    html, body{

        overflow-x: hidden;
    }
    #button-left{

        width: 50%;
        
    }
    .center-vaccines{

        height: 90%
    }
    #scroll-vaccines{

        width: 95%;
    }
    .roof{

        height: 50px;
    }
    .title{

        height: 50px;
        width: 70%;
    }
    h1{

        font-size: 2rem;
    }
    .modal-box{

        width: 90%;
        height: 600px;
        z-index: 100;
    }
    .input-form{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .input-edit{

        padding: 1rem;
    }
    .input-date{

        padding: 1rem;
    }
    .div-buttons{

        margin-top: 10px;
    }
}



@media (max-width: 800px) {

    .center-vaccines{

        flex-direction: column-reverse;
        align-items: center;
    }

    .right{
        
        width: 90%;
        height: 50%;

       
        
    }
    .register{

        flex-direction: column;
        overflow-x: hidden;
        height: 100%;
        
        
    }
    section{

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cadastro{
        
        flex-direction: column;
        
        
    }
    .register-information{

        width: 80%;
    }
    #register-information-local{

        width: 80%;
    }
    .content{

        overflow-x: hidden;
    }
    html, body{

        overflow-x: hidden;
    }
    #button-left{

        width: 50%;
        
    }
    .center-vaccines{

        height: 90%
    }
    #scroll-vaccines{

        width: 95%;
    }
    .roof{

        height: 50px;
    }
    .title{

        height: 50px;
        width: 70%;
    }
    h1{

        font-size: 2rem;
    }
    .modal-box{

        width: 90%;
        height: 600px;
        z-index: 100;
    }
    .input-form{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .input-edit{

        padding: 1rem;
    }
    .input-date{

        padding: 1rem;
    }
    .div-buttons{

        margin-top: 10px;
    }
    
}

