/* Cores
#FCFFF5 branco falso
#E6EBE0 gelo
#ED553B salmao
#4FB99F verde piscina 
#068587 verde piscina escuro
#3DCCC7 azul claro 
#112F41 azul escuro*/
:root {
    --azul-escuro: #112F41;
    --azul-piscina-escuro: #068587;
    --verde-piscina: #4FB99F;
    --salmao: #ED553B;
    --branco: #FCFFF5;
    --gelo: #E6EBE0;
    --azul-claro: #3DCCC7;
    --azul-bebe: #b0fffc;
}

@font-face {
    font-family: Poppins-Regular;
    src: local(Poppins), url(/static/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Semibold;
    src: local(Poppins), url(/static/fonts/Poppins/Poppins-SemiBold.ttf);
}

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins-Regular;
    padding: 0px;
}

body{
    overflow-x: hidden;
    background-color: var(--branco);
}

main{
    display: flex; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style dos tópicos */
.box1 , .box2{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 70%;
}

.box2{
    height: 700px;
}


/* Style dos títulos */
.title .text{
    color: var(--azul-escuro);
    background-color: var(--branco);
    margin-top: 20px;
    text-align: center;
    height: 70px;
    padding-top: 5px;
    font-size: 40px;
}

/* Style dos conteúdos das boxes */
.options{
    background-color: var(--verde-piscina);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.box2 .options{
    background-color: var(--azul-claro);
}

/* Style da imagem da box2 */
/* ps.: qualidade ruim */
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style dos botões em geral */
.buttons{
    display: flex;
    justify-content: space-around;
    padding: 40px 50px 0px;
    outline: none;
}

/* Style botões específicos - tipo sanguíneo */
.button-type{
    background-image: url(/static/img/icone_sangue.png);
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: 2px;
    background-size: 35px;
    background-color: var(--gelo);
    border: none;
    height: 70px;
    width: 70px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 18px var(--azul-piscina-escuro);
    transition: 0.1s;

    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    outline: none;
}

#buttons-1{
    margin-bottom: 40px;
}



.text-button{
    color: var(--azul-escuro);
    font-size: 20px;
    padding-top: 30px;
    font-family: Poppins-Semibold;
}

.button-type:hover{
    transform: scale(1.05);
    background-color: var(--azul-bebe);
}

.button-bool:hover{
    border: 3px solid var(--azul-piscina-escuro);
}

/* classe ativada ao clicar no botão */
.active{
    background-color: var(--azul-bebe);
    border: 3px solid var(--salmao);
}

button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* Style botões específicos - sim ou não */
.button-bool{
    background-color: var(--gelo);
    border: 3px solid var(--gelo); 
    height: 65px;
    width: 160px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 18px var(--azul-piscina-escuro);
    color: var(--azul-piscina-escuro);
    z-index: 100;
}

.text-bool{
    font-size: 30px;
    text-align: center;
}

/* //////////////////////////////////// */

.waves-component{
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(1);
    box-shadow: 40px #061722;
    margin-top: 42%;
    bottom: -10;
}

.dark-wave{
    animation: movedark-wave 3s ease-in-out infinite alternate;
}

@keyframes movedark-wave{
    from{
        transform: translateX(-2500px)
    }
}

.light-wave {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
        transform: translateX(-1000px);
    }
}

