:root {
    --azul-escuro: #112F41;
    --azul-piscina-escuro: #068587;
    --verde-piscina: #4FB99F;
    --salmao: #ED553B;
    --branco: #FCFFF5;  
    --gelo: #E6EBE0;
    --azul-claro: #3DCCC7;
    --azul-bebe: #b0fffc;
}

@font-face {
    font-family: Poppins-Regular;
    src: local(Poppins), url(/static/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Semibold;
    src: local(Poppins), url(/static/fonts/Poppins/Poppins-SemiBold.ttf);
}

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins-Regular;
    padding: 0px;
}

body{
    overflow-x: hidden;
    background-color: var(--branco);
}

main{
    display: flex; 
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style dos tópicos */
.box1 , .box2{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 70%;
    z-index: 100;
}

.box2{
    height: 600px;
}

.box1{
    margin-bottom: 50px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style dos títulos */
.title .text{
    color: var(--azul-escuro);
    background-color: var(--branco);
    margin-top: 20px;
    text-align: center;
    height: 70px;
    padding-top: 5px;
    font-size: 40px;
}

/* Style dos conteúdos das boxes */
.options{
    background-color: var(--verde-piscina);
    width: 100%;

    border-radius: 30px;
    margin-top: 5%;
}

.box1 .options{
    display: grid;
    height: 100%;
}

.box2 .options{
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.box2 .title{
    width: 100%;
}

.box2-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.doador label{
    font-family: Poppins-Regular;
    font-weight: 500;
    font-size: 2rem;
    width: 60%;
    text-align: center;
    margin-bottom: 5px;
}

.doador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doador input{
    background-color: var(--branco);
    border: 2px solid var(--salmao);
    border-radius: 100%;
    outline: none;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    cursor: pointer;
}

.doador input:checked {
    background-color: var(--salmao);
}

.options button{
    border-radius: 20px;
    height: 50px;
    width: 100px;
    border: 3px solid var(--branco);
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-family: Poppins-Regular, sans-serif;
    cursor: pointer;
}

.options button:hover{
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: 3px solid var(--azul-escuro);
}

/* Style da imagem da box2 */
/* ps.: qualidade ruim */
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style dos botões em geral */
.buttons{
    display: flex;
    justify-content: space-around;
}

/* Style botões específicos - tipo sanguíneo */
 .button-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="radio"] { 
    display: none; 
} 

input[type="radio"] + label { 
    font-weight: 500; 
    font-size: 2rem; 
    font-family: Poppins-Regular;
    color: var(--azul-escuro);

} 

input[type="radio"] + label span { 
    display:flex; 
    width: 45px; 
    height: 45px; 
    margin: -2px 10px 0 0; 
    vertical-align: middle; 
    cursor: pointer; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    border: 3px solid var(--salmao); 
    
}

input[type="radio"] + label span { 
    background-color: var(--gelo); 
} 

input[type="radio"]:checked + label { 
    color:var(--azul-escuro); 
    font-weight: 700; 
    font-family: Poppins-Regular;
}

input[type="radio"]:checked + label span { 
    background-color: var(--azul-bebe); 
    border: 3px solid var(--salmao); 
    box-shadow: 2px 2px 2px rgba(0,0,0,.1); 
}

input[type="radio"] + label span, input[type="radio"]:checked + label span { 
    -webkit-transition: background-color 0.24s linear; 
    -o-transition: background-color 0.24s linear; 
    -moz-transition: background-color 0.24s linear; 
    transition: background-color 0.24s linear; 
}
/* //////////////////////////////////// */

.waves-component{
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(1);
    box-shadow: 40px #061722;
    /* margin-top: 42%; */
    bottom: 0;
}

.dark-wave{
    animation: movedark-wave 3s ease-in-out infinite alternate;
}

@keyframes movedark-wave{
    from{
        transform: translateX(-2500px)
    }
}

.light-wave {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
        transform: translateX(-1000px);
    }
}

