{% extends 'base.html' %}

{% load static %}
 
{% block title %}Cirurgias{%endblock%}
{% block css %} {% static 'css/styleCirurgia.css' %} {%endblock%}
{% block content%}

    <main>
        <div class="container">
            <div class="title-container">
                <span>Cirurgias</span>
            </div>
            <form action="{% url 'cirurgias' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <section>                
                <div class="primary-card">
                    <input type="text" name="cirurgia" id="" placeholder="Nome:" required>
                    <input type="text" name="hospital" id="" placeholder="Onde:" required>
                    <div class="input-content">
                        <input type="date" name="data_cirurgia" id="" required>
                    </div>
                    <button type="submit">Cadastrar</button>
                    <!-- fk -->
                    <input type="hidden" name="fk_usuario_cirurgias" value="{{dados_user.id_usuario}}">
                    <!-- <input type="submit" value="cadastrar"> -->
                                        
                </div>
                <div class="second-card">
                    <h1>Sobre:</h1>
                    <input type="text" name="infos_extras" id="" placeholder="sobre">
                </div>
            
            </section>
        </form>

        <div id="history-content" class="scroll">
            {% for dado in dados_cirurgias %}
            <div class="card">
                <h2>{{dado.cirurgia}}</h2>
                <h3>Data</h3>
                <span>{{dado.data_cirurgia|date:'d-m-Y'
                    }}</span>
                {% if dado.hospital %}
                    <h3>Local</h3>
                    <span>{{dado.hospital}}</span>
                {% endif %}
                {% if dado.infos_extras %}
                    <h3>Informações Extras</h3>
                    <span>{{dado.infos_extras}}</span>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </div>
    </main>
</body>
</html>

{%endblock%}