{% extends 'base.html' %}

{% load static %}

{% block title %}Cirurgias{%endblock%}
{% block css %} {% static 'css/styleCirurgia.css' %} {%endblock%}
{% block content%}

<main>
    <div class="container">
        <div class="title-container">
            <span>Cirurgias</span>
        </div>
        <form {% if cirurgia_detail %} action="{% url 'cirurgia_detail' cirurgia_detail.id_cirugias %}" {% else %}
            action="{% url 'cirurgias' %}" {% endif %} method="POST">
            {% csrf_token %}
            <section>
                <div class="primary-card">
                    <input type="text" name="cirurgia" id="" placeholder="Nome da cirurgia:" required>

                    <input type="text" name="hospital" id="" placeholder="Nome do Hospital:">
                    <div class="input-content">

                        <input type="text" onfocus="(this.type='date')" placeholder="Data da cirurgia:"
                            name="data_cirurgia" required id="">

                        <input type="text" name="infos_extras" id="" placeholder="Anotação:">

                        <!-- fk -->
                        <input type="hidden" name="fk_usuario_cirurgias" value="{{ dados_user.id_usuario }}">
                    </div>
                    <button type="submit">Cadastrar</button>
            </section>
        </form>

        <div class="history-content" id="scroll">
            {% for dado in dados_cirurgias %}
            <div class="card" id="scroll-card">
                    <div class="start-btn">
                        <a type="" id="mais-informacao" href="{% url 'cirurgia_detail' dado.id_cirugias %}">+</a>
                    </div>
                    <h2>{{dado.cirurgia}}</h2>
                    <h3>Data</h3>
                    <span>{{dado.data_cirurgia|date:'Y-m-d'}}</span>
                    {% if dado.hospital %}
                        <h3>Local</h3>
                        <span>{{dado.hospital}}</span>
                    {% endif %}
                    {% if dado.infos_extras %}
                        <h3>Informações Extras</h3>
                        <span>{{dado.infos_extras}}</span>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        <br>
    </div>
</main>

{% if cirurgia_detail %}
<div class="center modal-box">
    <div class="close-modal">
        <button id='button_close' class="fa-times">
            <a style="text-decoration: none; color: #FCFFF5;" href="{% url 'cirurgias' %}">X</a>
            </button>
    </div>
    
        <form action="{% url 'cirurgia_detail' cirurgia_detail.id_cirugias %}" method="POST">
            {% csrf_token %}
            <div class="primary-card-popup">
                <input type="text" name="cirurgia" id="" placeholder="Nome da cirurgia:"
                    value="{{ cirurgia_detail.cirurgia }}" required>

                <input type="text" name="hospital" id="" placeholder="Nome do Hospital:"
                    value="{{ cirurgia_detail.hospital }}">

                <div class="input-content">
                    <input type="text" onfocus="(this.type='date')" placeholder="Data da cirurgia:" name="data_cirurgia"
                        id="" value="{{ cirurgia_detail.data_cirurgia|date:'Y-m-d' }}" required>

                    <input type="text" name="infos_extras" id="" placeholder="Anotação:"
                        value="{{ cirurgia_detail.infos_extras }} ">

                    <!-- fk -->
                    <input type="hidden" name="fk_usuario_cirurgias" value="{{ dados_user.id_usuario }}">
                </div>
                <div class="div-buttons">
                    <button type="submit">Editar</button>
                    <a href="{% url 'cirurgia_delete' cirurgia_detail.id_cirugias %}">Excluir</a>
                </div>
            </div>
        </form>

</div>
{% endif %}


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/popupCirurgias.js' %}"></script>
    </body>

    </html>

{% endblock %}