{% extends 'base.html' %}

{% load static %}
 
{% block title %}Cirurgias{%endblock%}
{% block css %} {% static 'css/styleCirurgia.css' %} {%endblock%}
{% block content%}

    <main>
        <div class="container">
            <div class="title-container">
                <span>Cirurgias</span>
            </div>
            <form action="{% url 'cirurgias' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <section>                
                <div class="primary-card">
                    <input type="text" name="cirurgia" id="" placeholder="Nome:" required>
                    <input type="text" name="hospital" id="" placeholder="Onde:" required>
                    <div class="input-content">
                        <input type="date" name="data_cirurgia" id="" required>
                        <input type="time" name="" id="" placeholder="horario">
                    </div>
                    <button type="submit">Cadastrar</button>
                    <!-- <input type="submit" value="cadastrar"> -->
                                        
                </div>
                <div class="second-card">
                    <h1>Sobre:</h1>
                    <input type="text" name="infos_extras" id="" placeholder="sobre">
                </div>
            
            </section>
        </form>

        <div id="history-content" class="scroll">
            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>

            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>

            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>

            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>

            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>
            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>
            <div class="card">
                <h2>Roacutan</h2>
                <h3>Data</h3>
                <span>00/00/00</span>
                <h3>Horário</h3>
                <span>00:00</span>
                <h3>Função</h3>
                <span>Tratamento de acnes</span>
            </div>
        </div>
    </div>
    </main>
</body>
</html>

{%endblock%}