{% extends 'base.html' %}

{% load static %}

{% block title %}Avaliação Diária{%endblock%}
{% block css %} {% static 'css/styleAvaliacaoDiaria.css' %} {%endblock%}
{% block content%}


<header>
    <div class="title">
        <p class="title-text"> Como você está se sentindo hoje?</p>
    </div>
 
</header>

<main class="content">

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="box1">
            <div class="box1-content">

                <div class="buttons">
                    <input class="checkbox-round" type="checkbox" value="dorDeCabeca" id="dor_cabeca" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="dorNoCorpo" id="dor_corpo" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="dorNoEstomago" id="dor_estomago"
                        name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="cansaco" id="cansaco" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="inchaco" id="inchaco" name="sintomas">
                </div>

                <div class="labels">
                    <label for="dor_cabeca">Dor de cabeça</label>
                    <label for="dor_corpo">Dor no corpo</label>
                    <label for="dor_estomago">Dor no estômago</label>
                    <label for="cansaco">Cansaço</label>
                    <label for="inchaco">Inchaço</label>
                </div>

                <div class="buttons">
                    <input class="checkbox-round" type="checkbox" value="nausea" id="nausea" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="coriza" id="coriza" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="faltaDeAr" id="falta_ar" name="sintomas">
                    <input class="checkbox-round" type="checkbox" value="insonia" id="insonia" name="sintomas">
                    <button id="outro" name="outro"></button>
                </div>

                <div class="labels">
                    <label for="nausea">Náusea</label>
                    <label for="vomito">Coriza</label>
                    <label for="falta_ar">Falta de ar</label>
                    <label for="insonia">Insônia</label>
                    <label for="outro">Outro</label>
                </div>

                <div class="adict-sintoma" id="txt-outro-sintoma" style="display: none;">
                    <input type="text" id="adicionar sintoma" placeholder="Outro:" name="outro">
                </div>
                
                <div class="button-2">
                    <button id="button-save" type="submit">Salvar</button>
                </div>

                <!-- fk -->
                <input type="hidden" name="fk_usuario_avaliacao_diaria" value="{{dados_user.id_usuario}}">
            </div>

            <div class="notes">
                <label for="text-observacao">Observação:</label>
                <textarea name="observacoes" id="text-observacao" cols="30" rows="10"
                    placeholder="Escreva aqui"></textarea>
            </div>


        </div>
    </form>

    <div class="box2">

        <p class="subtitle">Últimas avaliações</p>

        <div id= "history-content" class="scroll">
            {% for dado in dados_avaliacao_diaria %}
            <div id="card" class="scroll-card">
               
                    <p>{{ dado.data|date:'d-m-Y' }}</p>
                    <h3>Sintomas:</h3>
                    <span>{{ dado.sintomas }}</span>
                    <h3>Observações:</h3>
                    <span>{{ dado.observacoes }}</span>
                    <h3>Outros sintomas:</h3>
                    <span>{{ dado.outro }}</span>
                
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<footer>


</footer>

<script src="{% static 'js/avaliacao_diaria.js' %}"></script>

</body>

</html>

{% endblock %}