{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacinas | MedFile</title>
    <link rel="stylesheet" href="{% static 'css/vacinas/styleVacinas.css'%}">
    <link rel="shortcut icon" href="{% static 'img/MedFile_favicon.ico' %}" type="image/x-icon" sizes="32x32" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>

<body>
    <header>
        <nav class="navbar">

            <ul class="nav-bar"> 
                <li class="nav-item" id="perfil">
                    <a href="{% url 'perfil' %}" class="nav-link">
                        <img src="{% static 'img/icone_perfil.png' %}" alt="">
                        <span class="link-text">Perfil</span>
                    </a>
                </li>

                <li class="nav-item" id="av_diaria">
                    <a href="{% url 'index' %}" class="nav-link">
                        <img src="{% static 'img/icone_home.png' %}" alt="">
                        <span class="link-text">Avaliação Diária</span>
                    </a>
                </li>

                <li class="nav-item" id="sangue">
                    <a href="{% url 'sangue' %}" class="nav-link">
                        <img src="{% static 'img/icone_sangue.png' %}" alt="">
                        <span class="link-text">Sangue</span>
                    </a>
                </li>

                <li class="nav-item" id="vacina">
                    <a href="{% url 'vacinas' %}" class="nav-link">
                        <img src="{% static 'img/icone_vacinacao.png' %}" alt="">
                        <span class="link-text">Vacinas</span>
                    </a>
                </li>

                <li class="nav-item" id="medicacao">
                    <a href="{% url 'medicacao' %}" class="nav-link">
                        <img src="{% static 'img/icone_medicamentos.png' %}" alt="">
                        <span class="link-text">Medicação</span>
                    </a>
                </li>

                <li class="nav-item" id="historico">
                    <a href="{% url 'historico' %}" class="nav-link">
                        <img src="{% static 'img/icone_historico.png' %}" alt="">
                        <span class="link-text">Histórico</span>
                    </a>
                </li>

                <li class="nav-item" id="cirurgia">
                    <a href="{% url 'cirurgias' %}" class="nav-link">
                        <img src="{% static 'img/icone_cirurgia.png' %}" alt="">
                        <span class="link-text">Cirurgias</span>
                    </a>
                </li>

                <li class="nav-item" id="doenca">
                    <a href="{% url 'doencas-existentes' %}" class="nav-link">
                        <img src="{% static 'img/icone_doencas.png' %}" alt="">
                        <span class="link-text">Doenças</span>
                    </a>
                </li>

                <li class="nav-item" id="ale_into">
                    <a href="{% url 'index_logout' %}" class="nav-link">
                        <img src="{% static 'img/icone_alergias.png' %}" alt="">
                        <span class="link-text">Sair</span>
                    </a>
                </li>

            </ul>

        </nav>
        

    </header>


    <main>

        <div class="content">

            <div class="roof">

                <div class="title">
                    <h1> Vacinas</h1>
                </div>

            </div>

            <br>

            <div class="center-vaccines">

                <div id="scroll-vaccines" class="scroll">
                    {% for dado in dados_vacinas %}
                    <button id="vaccines">
                        <a href="{% url 'vacina_detail' dado.id_vacinas %}">
                            <h2>{{dado.tipo_vacina}} </h2>
                            <p class="data-vacinnes">{{dado.data_vacinacao|date:'d-m-Y'}}</p>
                            <div class="start-btn">
                                <a type="" id="mais-informacao" href="{% url 'vacina_detail' dado.id_vacinas %}">+</a>
                            </div>
                        </a>
                    </button>
                    {% endfor %}

                </div>

                <div class="right">
                    <div class="register">
                        <section>
                            <form {% if vacina_detail %} action="{% url 'vacina_detail' vacina_detail.id_vacinas %}"
                                {% else %} action="{% url 'vacinas' %}" {% endif %} method="POST">
                                {% csrf_token %}
                                <p>Cadastro de Vacina</p>

                                <br>

                                <div class="cadastro">
                                    <input class="register-information" type=text name="tipo_vacina"
                                        placeholder="Nome da vacina:" required>

                                    <input class="register-information" type=text name="dose" placeholder="Dose:">
                                </div>

                                <div class="cadastro">
                                    <input class="register-information" type=text name="lote" placeholder="Lote:">
                                    <input placeholder="Data de Vacinação:" type="text" onfocus="(this.type='date')"
                                        class="register-information" name="data_vacinacao" required>
                                </div>

                                <div class="cadastro">
                                    <input id="register-information-local" type=text name="local" placeholder="Local:"
                                        value="{% if vacina_detail %} {{ vacina_detail.local }} {% endif %}">
                                    <input type="hidden" name="fk_usuario_vacinas" value="{{ dados_user.id_usuario }}">
                                </div>

                                <br>

                                <div id="div-button">
                                    <button type="submit" id="button-left">Cadastrar</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>


    {% if vacina_detail %}
    <div class="center modal-box">
        <div class="close-modal">
            <button id='button_close' class="fa-times">X</button>
        </div>
        <div class="form-edit">
        <form action="{% url 'vacina_detail' vacina_detail.id_vacinas %}" method='POST'>
                {% csrf_token %}
                <input type="text" placeholder="Nome da vacina:" class="input-edit" name="tipo_vacina"
                    value="{{ vacina_detail.tipo_vacina }}">
                <div class="input-form">
                    <input class="input-edit" type=text name="dose" placeholder="Dose:"
                        value="{{ vacina_detail.dose }}">
                    <input placeholder="Data da Vacinação" type="text" onfocus="(this.type='date')" class="input-date"
                        name="data_vacinacao" value="{{ vacina_detail.data_vacinacao|date:'Y-m-d' }}">
                </div>
                <div class="input-form">
                    <input type="text" class="input-edit" name="lote" placeholder="Lote:"
                    value="{{ vacina_detail.lote }}">
                    <input type="text" class="input-edit" name="local" placeholder="Local:"
                    value="{{ vacina_detail.local }}">
                </div>
                <input type="hidden" name="fk_usuario_vacinas" value="{{ dados_user.id_usuario }}">
                <div class="div-buttons">
                    <button type="submit">Editar</button>
                    <a href="{% url 'delete_vacina' vacina_detail.id_vacinas %}">Excluir</a>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <script src="{% static 'js/popupVacinas.js' %}"></script>
    
</body>

</html>