{% extends 'base.html' %}

{% load static %}
 
{% block title %}Vacinas{%endblock%}
{% block css %} {​​​​​​​​% static 'css/vacinas/styleVacinas.css' %}​​​​​​​​ {%endblock%}
{% block content%}

    <header>
        <div class="roof" >
        
           <div class="title">
                <h1> Vacinas</h1>
            </div>  
           
        </div>
    
    </header>
    

    <main class="content" >

        <div class="search-box"> 

            <input class="txt-search" type="text" name="" placeholder="Pesquisar...">
            <button class="btn-search" type="submit" > 
            <img style="width: 30px;" src="../static/img/lupa.png"></button>
            
        </div>

        <br>
        
        <div class="center"> 

            <div id="scroll-vaccines" class="scroll">

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>
                
                <button id="vaccines">
                    <h2> Febre Amarela </h2>
                    <p class="data-vacinnes">dd/mm/aaaa</p>
                </button>

            </div> 
       
            <div class="right" >

                <div id="information" class="scroll">

                    <p >Informações </p>
                    
                    <div>
                        <p class= "conteudo-information">
                            Santa Catarina é um estado na região sul do Brasil. Com uma longa costa com o Atlântico e muitas ilhas,
                             ela é conhecida por suas praias e montanhas. Florianópolis, a capital, tem um mercado público tradicional 
                             com bares, restaurantes e barracas de comida, além de um museu histórico instalado em um palácio do governo 
                             colonial do século 19. Florianópolis está basicamente na ilha de Santa Catarina, que conta com resorts de praia na extremidade norte. 
                        </p>
                    </div>

                </div>

                <div class="register"> 

                    <p>Cadastro de Vacina</p>

                    <br>

                    <div id="cadastro">
                        <input id="register-information" type=text placeholder="Nome da vacina"> 
                        <input id="register-information" type=text placeholder="Dose">
                    </div>
                   
                    <div id="cadastro">
                        <input id="register-information" type=text placeholder="Lote">
                        <input id="register-information" type="date">
                    </div>
                    
                    <div id="cadastro">
                        <input id="register-information-local" type=text placeholder="Local" >
                    </div>
                    
                    <br>

                    <div id="div-button">
                        <button id="button-left" type="submit">Cadastrar </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
     
</body>

</html>
{%endblock%}